@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

button, a, img, input {
	cursor: pointer;
}

input {
	padding: 0 10px;
}

body {
	width: 100vw;
	min-height: 100vh;
	font-family: 'Jockey One', sans-serif;
}

#root {
	width: 100%;
	height: 100%;
}

header {
	width: 100vw;
	height: 10vh;
	background-color: #0ACD86;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#container-logo {
	width: calc(10vh);
	height: 10vh;
	background: #0AAB6B;
}

.header-btn {
	width: 10vw;
	height: 4.5vh;
	border-radius: 20px;
	background-color: transparent;
	color: #0AAB6B;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0em;
}

.selected {
	border-radius: 20px;
	background: #FFFFFF !important;
	color: #0AAB6B !important;
}

.header-btn:hover {
	border-radius: 20px;
	background-color: #0AAB6B;
	color: #FFFFFF;
}

#profile-pic {
	height: 6vh;
	margin-right: 3vw;
}

main {
	width: 100vw;
	min-height: 90vh;
	background: #E7E7E7;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

form {
	width: 85vw;
	height: 25vh;
	padding: 2.5vh 0;
	background: #F2F2F2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.form-row {
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.form-column {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#title {
	width: 20vw;
	height: 5vh;

	background: #FFFFFF;
	border-radius: 17px;
}

#due {
	width: 20vw;
	height: 5vh;

	background: #FFFFFF;
	border-radius: 17px;
}

#description {
	width: 50vw;
	height: 8vh;

	background: #FFFFFF;
	border-radius: 17px;
}

form button {
	width: 20vw;
	height: 5vh;
	border-radius: 17px;
	font-size: 16px;
	font-weight: 400;
}

.submit {
	background: #0AAB6B;
	color: #FFFFFF;
}

.reset {
	background: #E1B84F;
	color: #FFFFFF;
}

#container-content {
	width: 85vw;
	min-height: 10vh;
	border: 1px solid #0AAB6B;
	background: #F2F2F2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
